html[data-theme="light"]{
    --bgMain: rgb(161 52 52);
    color: black;

    --btnMainBg:rgb(71, 102, 224);
}

html[data-theme="dark"]{
    --bgMain: rgb(67, 25, 25); 
    color: rgb(201, 201, 201);

    --btnMainBg:rgb(39, 57, 127);
}

button, input[type="submit"] {
    background-color: var(--btnMainBg);
    padding: 5px 10px;
    border-top-color: rgba(255,255,255, 0.2);
    border-left-color: rgba(255,255,255, 0.2);

    border-right-color: rgba(0, 0, 0, 0.3);
    border-bottom-color: rgba(0, 0, 0, 0.3);

    border-width: 2px;
    color:inherit;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--bgMain);
}
header{
    width: 100%;
    border: solid 1px green;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    padding: 20px;
    box-sizing: border-box;
}

header .user-section, header .mode{
    display:flex;
    gap: 10px;
}
header .user-section{
    justify-content: flex-end;
}
header .mode{
    justify-content: flex-start;
}